  
.content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.top-bar {
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, #1F42A5, #040B2D);
}
.btn-register span{
    margin-right: 20px;
    height: 17px;
    color: #ffffff;
    font-family: "Roboto-Bold";
    font-size: 14px;
    font-weight: 400;
    /* line-height: 17px; */
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    float: right;
}
.shape {
    width: 21px;
    height: 18px;
}
header, footer, section {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    font-family: "Roboto";
}
.top-header {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.top-header .logo img, .btn-menu-mobile {
    width: auto;
    height: 80px;
    padding: 9px 0;
}
.btn-menu-mobile {
  float: right;
}
.menu {
    float: right;
    display: flex;
    list-style: none;
}
.menu .item-menu a {
    margin-left: 20px;
    height: 22px;
    color: #4a4a4a;
    font-size: 18px;
    font-weight: 700;
    line-height: 100px;
}
main {
  color: #9195a4;
  font-family: 'Roboto';
}
.first-bloc {
    height: 900px;
}
.short-desc{
    color: #9195a4;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.cons-info {
    width: calc(100% - 410px);
    position: relative;
    max-width: 643px;
    float: left;
}
h1.main-title {
  color: #313131;
  font-family: 'Roboto-Bold';
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -2.2px;
}
h1.title-section {
    color: #24355a;
    font-family: 'Roboto-Bold';
    font-size: 44px;
    line-height: 46px;
}
.bg-cons-info img {
    float: right;
    max-width: 50%;
  }
.bg-challenge {
    position: absolute;
    background: url("../img/Path_challenge.png") no-repeat right top;
    right: 0;
    max-width: 100%;
    background-size: 50%;
    height: 100%;
}

.bg-why {
    position: absolute;
    background: url("../img/bg-why.svg") no-repeat right top;
    right: 0px;
    /* max-width: 100%; */
    background-size: 110%;
    height: 100%;
    min-height: 550px;
}
.bloc-contact {
    min-height: 600px;
}
.bg-contact {
    position: absolute;
    background: url("../img/bg-contact.svg") no-repeat left top;
    background-size: 90%;
    height: 100%;
    left: 0;
    margin-top: -1em;
}
.img-contact {
    width: 60%;
    margin-top: 10em;
    margin-left: 20%;
    margin-bottom: 100px;
}
.first-bloc-why {
    height: 660px;
}
main a.link-more, .btn-el {
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    background: linear-gradient(225deg, #FFA85B, #FF4182);
    box-shadow: 0px 20px 40px rgba(0,0,0,0.3);
    color: #ffffff !important;
    font-family: 'Roboto-Bold';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.5px;
}
section.second-bloc .desc{
    margin-top: 50px;
}
footer h2 {
    color: #24355a;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}
footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
footer li a{
    color: #9195a4;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
footer .line {
    border-top: 2px solid #24355a;
}
.scroll-down {
  display: block;
  width: 20px;
  height: auto;
  border-radius: 20px;
  background: transparent;
  /* box-shadow: 0px 10px 20px rgba(0,0,0,0.1); */
  margin-top: 40px;
}
.img-hand {
    margin-left: -35px;
}
.img-map {
    margin-left: 35px;
    margin-top: -60%;
}
.img-challenge {
    width: 30%;
    margin-left: 50%;
    position: relative;
}
.img-why {
    width: 70%;
    margin-left: 15%;
}
.img-secure {
  margin-left: -35px;
  margin-top: -35%;
  max-width: 125%;
}
.mw-768{
    max-width: 768px;
}
.decimal {
    color: #24355a;
    font-family: 'Roboto-Bold';
    font-size: 100px;
    line-height: 74px;
}
.feature img {
    height: 142px;
    width: auto;
}
  .left-bubble {
    position: absolute;
    background: url("../img/Path-left.png") no-repeat left top;
    height: 100%;
    width: 100%;
    margin-top: -50px;
  }
  .right-bubble {
    position: absolute;
    background: url("../img/Path-right.png") no-repeat right top;
    height: 100%;
    width: 100%;
    margin-top: -50px;
  }
  .list-faq {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  li.group-faq {
    font-family: "Roboto-Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    list-style: none;
    padding: 15px 0;
  }
  h1.title-group-faq {
    font-family: "Roboto-Bold";
    font-size: 20px;
  }
  li.group-faq.active, h1.title-group-faq {
    color: #24355a;
  }
  .list-group-faq .item-faq {
    border-bottom: solid 2px #dddddd;
    margin-bottom: 10px;
  }
  .item-faq h1 {
    color: #4a4a4a;
    font-family: "Roboto-Bold";
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 15px 0;
    width: 100%;
    position: relative;
  }
  .item-faq h1.active::after {
    content: '\2212';
    width: 20px;
    left: 98%;
    font-size: 1.5em;
    vertical-align: top;
    top: 15px;
    position: absolute;
  }
  .item-faq h1::after {
    content: '\002B';
    width: 20px;
    left: 98%;
    height: 18px;
    position: absolute;
  }
  form.contact .form-control {
      font-size: 12px;
      font-style: italic;
  }
  form.contact textarea{
      min-height: 10em;
  }
@media (max-width: 1200px) {
  .left-bubble {
    margin-left: -60px;
  }
  .right-bubble {
    background: url("../img/Path-right.png") no-repeat calc(100% + 150px) top;
    height: 100%;
  }
}
@media (max-width: 1024px) {
   h1.main-title {
    font-size: 36px;
    line-height: 36px;
  }
  .left-bubble {
    background: url("../img/Path-left.png") no-repeat left top;
    height: 100%;
    width: 100%;
    margin-left: -80px;
    margin-top: -70px;
  }
  .right-bubble {
    background: url("../img/Path-right.png") no-repeat calc(100% + 150px) top;
    height: 100%;
    width: 100%;
    margin-top: -100px;
  }
}
@media (max-width: 768px) {
  .opacity-2 {
    opacity: 0.2;
    transition: all 1s 0.1s;
  }
  .top-header .logo img, .btn-menu-mobile {
    height: 70px;
  }
  .menu-mobile {
     background: #24355a;
     color: #ffffff;
     margin-left: -20px;
     margin-right: -20px;
     margin-top: -80px;
     position: absolute;
     z-index: 99;
     width: 100%;
     transition: all 0s 0s;
     transform: skew(0deg) translateX(-120%);
  }
  .menu-mobile.open {
  transition: all 1s 0.1s;
    transform: skew(0deg) translateX(0);
  }
  .menu-mobile.d-none {
      transition: all 1s 0.1s;
     transform: skew(-14deg) translateX(-120%);
  }
  .menu-mobile .item-menu {
    text-align: center;
  }
  .menu-mobile .item-menu a {
    color: #ffffff;
    line-height: 44px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-size: 20px;
    font-weight: 400;
  }
  .menu-mobile .item-menu a.active {
    text-decoration: underline;
  }
  main a.link-more {
    font-size: 10px;
    line-height: 12px;
  }
  .first-bloc {
    height: 555px;
  }
  .first-bloc-why {
      /* height: 470px; */
  }
  .bg-why {
    position: relative;
    left: 20px;
  }
  .bg-cons-info img {
    max-width: 50%;
  }
  .cons-info {
    font-size: 14px;
    line-height: 18px;
    width: 50%;
  }
  h1.main-title {
    font-size: 36px;
    line-height: 36px;
  }
  h1.title-section {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
  .short-desc{
     color: #98a3b9;
     font-family: 'Roboto';
     font-size: 12px;
     font-weight: 400;
     line-height: 16px;
  }
  .img-challenge {
      width: 30%;
      margin-left: 50%;
  }
}
@media (max-width: 576px) {
    .cons-info {
      width: 100%;
      max-width: 100%;
    }
    .first-bloc {
      height: max-content;
      overflow: auto;
    }
    .bg-cons-info {
     position: relative;
    }
    section.second-bloc .desc {
        margin-top: 50px;
    }
    .bg-challenge {
      position: relative;
      background: url("../img/Bg_home.png") no-repeat right top;
      right: 0;
      max-width: 206%;
      background-size: 120% auto;
      height: 328px;
      left: 20px;
    }
    .img-challenge {
      width: 70%;
      margin-left: 10%;
    }
    .img-secure {
      margin-left: 35px;
      margin-top: -15%;
      max-width: 100%;
    }
}