.main {
  display: flex;
  width: 100%;
  min-width: 0;
  min-height: 100vh;
  transition: $sidebar-transition;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-image: url("../img/Bg_home.png"), url("../img/Path-left.png") ;
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  background-size: 60%, 8%;
}
